---
layout: 'layouts/base.njk'
title: 'Home'
data: gyms
meta:
  desc: 'Experimenting with using 11ty with snowpack and postcss'
---
<h3>Gyms</h3>
<ul class="gym-list">
{% for gym in gyms %}
  <li>
    <p class="gym-list--item">{{gym[0]}}</p>
    <div class="tags">
      <a class="tag">{{gym[1]}}</a>
    </div>
  </li>
{% endfor %}
</ul>
